@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation E-Mail Sent";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        An E-mail was sent to the Spider DB Admin. Please wait unti the account is confirmed to log in.
    </p>
}
